body {
  text-align: center;
  margin: auto;
}
.grid {
  display: grid;
}

.book-name {
  background-color: aliceblue;
}

.chapter-shape {
  height: 20px;
  width: 20px;
}

.unread {
  background-color: whitesmoke;
}

.in-progress {
  background-color: thistle;
}

.read {
  background-color: rosybrown;
  border-radius: 50%;
}
