@import url('https://fonts.googleapis.com/css2?family=Lato&family=Raleway&display=swap');

body {
  text-align: center;
  margin: auto;
  font-family: 'Raleway', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}
.chart {
  max-width: 800px;
  margin: 0 auto;
}

.book-name {
  background-color: aliceblue;
  padding: 0.5rem;
}

.chapt-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
}

.chapter-shape {
  width: 30px;
  margin: 1rem auto;
  padding: 0.5rem;
  font-size: 22px;
  text-align: center;
}


.in-progress {
  background-color: thistle;
}

.read {
  background-color: green;
  border-radius: 50%;
}
