@import url('https://fonts.googleapis.com/css2?family=Lato&family=Raleway&display=swap');
@import './variables.css';
* {
  box-sizing: border-box;
}

body {
  text-align: center;
  margin: auto;
  padding: 0;
}



.chart {
  margin: 0 auto;
  padding: 1rem 2rem;
}

.book {
  border: black solid 0.1px;
  margin-bottom: 2rem;
  
}

.book-name {
  
  margin: 0;
  padding: 0.75rem;
}

.chapt-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
}

.chapter-shape {
  width: 45px;
  height: 45px;
  margin: 0.5rem auto;
  padding: 0.5rem;
  font-size: 22px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chapter-shape p {
  display: inline-block;
}


.in-progress {
  border: 3px solid green;
  border-radius: 50%;
}

.read {
  background-color: green;
  border-radius: 50%;
}


