:root {
--grey-0: #F8F9FA;
--grey-1: #F0F3F5;
--grey-2: #E9ECEF;
--grey-3: #DEE2E6;
--grey-4: #CED4D9;
--grey-5: #ACB5BD;
--grey-6: #858196;
--grey-7: #485156;
--grey-8: #333B3F;
--grey-9: #212629;
--primary-1: #FEF5D4;
--primary-2: #FEE8AB;
--primary-3: #FED880;
--primary-4: #FDC761;
--primary-5: #FCAD2D;
--primary-6: #D88B20;
--primary-7: #B56C16;
--primary-8: #92500E;
--primary-9: #783C08;
--success-1: #F4FDD8;
--success-2: #E6FCB3;
--success-3: #D1F68B;
--success-4: #BBED6D;
--success-5: #9CE23F;
--success-6: #7CC22E;
--success-7: #5FA21F;
--success-8: #448314;
--success-9: #326C0C;
--info-1: #DFEEFE;
--info-2: #BFDCFE;
--info-3: #9FC7FE;
--info-4: #86B4FD;
--info-5: #5F96FC;
--info-6: #4573D8;
--info-7: #2F55B5;
--info-8: #1E3A92;
--info-9: #122778;
--warning-1: #FFFDD7;
--warning-2: #FFFAAF;
--warning-3: #FFF687;
--warning-4: #FFF369;
--warning-5: #FFEE38;
--warning-6: #DBCA28;
--warning-7: #B7A71C;
--warning-8: #938511;
--warning-9: #7A6C0A;
--danger-1: #FFE1DB;
--danger-2: #FFBDB8;
--danger-3: #FF9598;
--danger-4: #FF7A8A;
--danger-5: #FF4F75;
--danger-6: #DB396C;
--danger-7: #B72762;
--danger-8: #931956;
--danger-9: #7A0F4F;
}