:root {
--grey-0: #F8F9FA;
--grey-1: #F0F3F5;
--grey-2: #E9ECEF;
--grey-3: #DEE2E6;
--grey-4: #CED4D9;
--grey-5: #ACB5BD;
--grey-6: #858196;
--grey-7: #485156;
--grey-8: #333B3F;
--grey-9: #212629;
--primary-0: #FCF6EF;
--primary-1: #FAEDDF;
--primary-4: #D2AB99;
}